.addJob * {
    text-align: left;
}

.addJob {
    margin: auto;
    margin-top: 75px;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 0.3s ease;
}
.dashboardPanel {
    max-width: 300px;
    width: 100%;
    min-width: 250px;
    margin-right: 30px;
}
.addJobResult {
    flex: 1;
    width: 100%;
    min-width: 250px;
}
.addJobResult p {
    color: var(--base);
    margin: 0;
    margin-bottom: 10px;
}
.addInput input {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}
.subInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.subInput > div {
    /*
    width: 100%;
    */
    max-width: 500px;
    flex: 1;
    min-width: 250px;
}
.subInput > div:nth-child(1) {
    margin-right: 20px;
}
.subInput input {
    width: 100%;
}
.addJobResult {
    padding: 20px;
    background: #fff;
    color: gray;
}
.group button:nth-child(1) {
    background-color: var(--base);
    color: #fff;
}
.addJobDiscription {
    margin-top: 30px;
}
.addJobDiscription span {
    padding: 5px 10px;
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
    background: #efefef;
    border-radius: 5px;
}
.addJobDiscription span:nth-child(3) {
    background: var(--base);
    color: #fff;
    font-weight: 600;
}

.textareaTitle {
    margin: 0;
    margin-top: 20px !important;
}

textarea {
    padding: 20px;
    width: 100%;
    resize: none;
    outline: none;
    border: 1px solid lightgray;
    transition: all 0.2s ease;
    height: 150px !important;
    border-radius: 5px;
}
textarea:focus {
    border-radius: 0;
    border: 1px solid var(--base) !important;
}
.submit {
    width: 100%;
    margin-top: 10px !important;
    color: #fff !important;
    font-size: larger;
    background: var(--base) !important;
}
.submit:hover {
    background: var(--base) !important;
}
