.footer {
    padding: 25px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    min-width: 250px;
}
.footer p {
    margin-bottom: 0;
    color: gray;
}
.socialIcon {
    cursor: pointer;
    margin-right: 10px;
    color: gray;
    transition: color 3s ease;
}
.socialIcon:hover {
    color: var(--base);
}
